*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(3, 122, 122);
    background-image: url(Images/Faculty\ Exam\ View.jpg)!important;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    opacity: 1;
    margin: 0;
    padding: 0;    
}

.label-area{
    width: 25vw;
    position: absolute;
    top: 50vh;
    left: 4vw;
    background-color: rgba(9, 72, 114, 0.849);
    text-align: center;
    border: 2px solid rgba(240, 248, 255, 0.158);
    border-radius: 30px;
    display: inline-block;
}
.label-area h2{
    font-size: 2vw;
    color: #fdfdfb;
}


/*    
        
        Field Set CSS 
        
*/

.legend1{
    font-size: 1.2vw;
    font-weight: 900;
}


.submit button{
    background-color: rgba(138, 180, 190, 0.781);
    font-weight: bolder;
    font-size: 1.2vw;
    width: 8vw;
    height: 7vh;
    
}
.submit{
    position: relative;
    left: 26vw;
    bottom: 10vh;
    width: 4vw;
    
}
.f-schedule div{
    position: relative;
    left: 1vw;
}

.f-schedule .submit button{
    position: relative;
    right: 6vw;
    top: 25vh;
}